.tituloContac {
    text-align: map-get($map: $estilos, $key: centro);
    margin-top: map-get($map: $estilos, $key: margen );
    font-size: map-get($map: $estilos, $key: tamFuente ); 
    text-decoration: underline;
}

.contactanos {
    font-size: 15px;
    padding: 60px 0px 60px 20px;
    line-height: 1.6;
    margin-top: 60px;
}

.listContact {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: solid rgb(127, 219, 255);
}

.contactanosAjuste {
    margin: 20px;
    font-weight: bold;
    text-align: center;
}

// iconos de la parte contactanos.
.ico {
    padding-right: 10px;
}

.seccionContact {
    margin-top: 60px;
}

.consultas {
    width: 400px;
    background: rgb(210, 167, 214);
    padding: 20px;
    color: rgb(78, 73, 73);
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    height: 460px;
}

.field {
    outline: none;
    border: solid 1px #ccc;
    padding: 10px;
    border-radius: 3px;
    width: 350px;
    margin-bottom: 10px;

    &:focus {
        border: ridge 2px rgba(169, 101, 238, 0.452);
    }
}

.field1 {
    outline: none;
    margin: 10px;
}

.ajuste7 {
    margin-top: 60px;
    margin-right: 70px;
}

.btnForm {
    border-radius: 4px;
    padding: 20px 15px;
    font-weight: bold;
    margin: 10px;
    width: 320px;

    &:hover {
        background-color: rgba(169, 136, 199, 0.808);
    }

    &:active {
        background-color: rgba(228, 165, 215, 0.849);
    }
}

.h1Contacto {
    margin: 90px 0px 50px 0px;
    text-decoration: underline;
}

.h1Contacto2{
    margin-bottom: 0px;
}

.imgContact {
    width: 100%;
}

.ajuste6 {
    margin-top: 70px;
}

