
.logoPrincipal {
    position: relative;
    height: 20rem;
}

.img--logo-principal {
    bottom: 11px;
    right: 20px;
}

.navbar {
    background-image: url(../multimedia/logo2.png);
    height: 210px;
    position: relative;
}

.menu {
    @include flexbox (flex, row, nowrap, center);
    font-size: 15px;
    margin-top: 85px;

    li {
        list-style-type: none;

        &:hover .submenu {
            display: block;
        }
    }

    li a {
        text-decoration: none;
        padding: 10px;
        margin: 10px;
        border: solid 2px #c396d8;
        border-radius: 10px;
        font-weight: bold;
        color: white;

        &:hover {
            color: rgb(241, 91, 204);
        }
    }
}

.submenu {
    display: none;
    width: 20%;
    position: absolute;
    background-color: rgb(235, 222, 233);
    border: solid 2px #c396d8;
    z-index: 1000;
    border-radius: 15px;
    padding-left: 0px;


    & li:hover {
        transform: scale(1.1);
        transition: all 1s;
    }

    li a {
        display: block;
        padding: 15px;
        color: black;
    }

}

.buscar {
    margin: 7.5rem 2rem 0rem 3rem;
}

.btnBuscar {
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
}

h1 {
    text-align: center;
    font-size: 40px;
    padding: 2rem 0rem;
    font-family: "Lobster", cursive;
}

.carroContent {
    @include flex-row-flex-start-space-evenly;
    flex-wrap: nowrap
}

.contenedor1 {
    @include flex-row-flex-start-space-evenly;
    margin-bottom: 70px;
    flex-wrap: wrap
}

.cards {
    @extend .card--general;
    margin: 3rem;
    padding: 1rem 1rem 3rem 1rem;

    &:hover {
        transform: scale(1.1);
        transition: all 1s;
    }
}

.card__image {
    width: 80%;
}

.card__title {
    font-weight: 600;
    line-height: 1.4;
}

.card__description {
    text-align: center;
    font-size: 13px;
    margin: 10px;
}

.precio {
    font-size: 20px;
    font-weight: 800;
}

.precio2 {
    text-decoration: line-through;
}

.btn {
    @extend .btn--general;
    font-size: 13px;
    font-weight: 600;
    width: 100%;
}

.cards2 {
    width: 15rem;
    display: inline-block;
    padding: 0.5rem;
    font-size: 13px;
    text-align: center;
}

/* ajustes de las imagenes de servicios index */
.ajuste1 {
    width: 8rem;
    height: 8.5rem;
}

.whatsapp {
    position: fixed;
    left: 1220px;
    bottom: 20px;
    z-index: 1000;
}

.iconoWtp {
    width: 100px;
}

.footer {
    background-color: black;
    border: double 5px;
    padding: 20px;
    font-size: 2rem;
    color: white;
}

.controlFooter {
    width: 30%;
    margin-left: 20px;
}

.btnUnite {
    text-decoration: none;
    padding: 2px;
    border-radius: 5px;
    font-family: textos;
    font-size: 15px;
    font-weight: 600;
}


.separacion {
    padding-bottom: 10px;
    padding-top: 10px;
}

.redes {
    @include flexbox (flex, row, nowrap, none);
    position: relative;
    right: 80px;
    top: 9px;

    li {
        list-style-type: none;
        padding-right: 10px;
    }

    img {
        padding-right: 10px;
    }
}


.listaContacto {
    list-style-type: none;
    position: relative;
    top: 10px;
}

.mapa {
    position: relative;
    bottom: 1rem;
    left: 20rem;
}

.logofinal {
    margin-left: 545px;

    img {
        margin-top: 20px;
    }
}

.ano {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
}