.sobreNosotros {
    font-size: 35px;
    -webkit-text-fill-color: rgb(3, 3, 3);
    padding: 0px 30px 80px 30px;
    text-align: justify;
  }
  
  
  .seccionInstitucional {
    background-image: url(../multimedia/sobre_nosotros.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }