/* tamaño TABLET */
@media screen and (max-width:768px) {

    /* index */

    .logoPrincipal {
        left: 270px;
        position: absolute;
        bottom: 84px;
    }

    .navbar {
        height: 280px;
        background-image: none;
    }

    .menu {
        margin-top: 268px;
        margin-left: 0px;
        width: 50%;
        text-align: center;
        background-color: black;
        border-radius: 15px;
        border: solid 2px #c396d8;
    }

    .submenu {
        background-color: rgb(63, 63, 63);
    }

    .buscar {
        margin-left: 23rem;
        position: absolute;
        bottom: 26px;
    }

    .btnMenu {
        position: absolute;
        right: 670px;
        bottom: 13px;
    }

    .icoMenu {
        width: 40px;
        height: 45px;
    }

    .carritoShopp {
        top: 218px;
        position: absolute;
    }

    .cards {
        margin: 0.7rem;
    }

    .mapaMenu ul {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 50px;
    }

    .imgPago {
        width: 313px;
    }

    .redes {
        right: 10px;
    }

    .controlFooter {
        width: 40%;
    }

    .mapa {
        width: 440px;
        left: 13rem;
        margin-top: 66px;
    }


    .whatsapp img {
        width: 80px;
        margin: 15px;
    }

    //ofertas 
    .btnOfertas {
        margin-left: 250px;
    }

    // productos

    .contenedorAside {
        width: 95%;
        padding: 0px 0px 0px 10px;
    }

    .cardsProductos {
        width: 16rem;
        margin: 1px 2px 30px 1px;
    }


    .btn {
        padding: 6px;
    }

    .btnProductos {
        margin-left: 250px;
    }

    /* institucional */
    .sobreNosotros {
        font-size: 30px;
    }

    .logoInstitucional {
        left: 40px;
    }

    // Novedades
    .h2Novedades{
        font-size: 26px;
    }

    /* contacto */
    .tituloContac {
        font-size: 35px;
    }

    .contactanos {
        padding: 10px 20px;
        margin-left: 145px;
        margin-top: 30px;
    }

    .seccionContact {
        margin-left: 10px;
    }

    .consultas {
        width: 360px;
    }

    .field {
        width: 310px;
    }
}

/* tamaño MOBILE */
@media screen and (max-width:414px) {

    // inicio

    .logoPrincipal {
        left: 126px;
        top: 0px;
        width: 153px;
    }

    .navbar {
        height: 275px;
    }

    .menu {
        margin-top: 263px;
        width: 280px;

        li {
            padding: 0px;

            a {
                padding: 6px;
            }
        }

    }

    .submenu {
        width: 100%;

        li {
            padding: 2px 0px;

            a {
                margin: 3px 8px;
            }
        }
    }

    .btnMenu {
        bottom: 10px;
        right: 349px;
    }

    .icoMenu {
        width: 36px;
        height: 34px;
    }

    .carritoShopp {
        top: 223px;
    }

    .buscar {
        left: 33px;
        width: 339px;
        bottom: 76px;
        margin: 0px;
    }

    .btnBuscar {
        font-size: 10px
    }

    .carroContent {
        flex-flow: row wrap;
    }

    .cards {
        width: 16rem;
        margin: 1px 2px 30px 1px;
    }

    .h5map{
        margin-top: 56px;
    }

    .mapaMenu ul {
        flex-wrap: wrap;

        li {
            padding-right: 31px;
            padding-top: 15px;
        }
    }

    // separacion entre titulos del footer.
    .separacion {
        font-size: 15px;
    }

    // separacion especial del titulo "seguinos en"
    .ajuste5 {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .redes {
        padding-left: 10px;
    }

    .redes img {
        width: 33px;
    }

    .mapa {
        display: none;
    }

    .contacto {
        font-size: 1.4rem;
        position: relative;
        bottom: 15px;
        right: 20px;
    }

    .listaContacto {
        top: 0px;
    }

    .whatsapp img {
        width: 60px;
    }

    .controlFooter {
        margin-left: 10px;
        height: 20px;
    }

    .btnUnite {
        font-size: 8px;
    }

    // productos
    h1 {
        font-size: 30px;
    }

    .h3Productos {
        padding-top: 1rem;
    }

    .elementosAside {
        display: none;
    }

    .btnProductos {
        margin-left: 60px;

    }

    // ofertas

    .btnOfertas {
        margin-left: 60px;
    }

    .cardsOfertas {
        margin: 2rem 0rem;
        width: 16rem;
    }

    // Novedades

    .h2Novedades{
        font-size: 18px;
    }

    // Institucional

    .sobreNosotros {
        font-size: 22px;
        text-align: center;
    }

    .logoInstitucional {
        left: 0px;
        width: 300px;
    }

    // contacto

    .contactanos {
        margin-left: 0px;
    }

    .consultas {
        width: 340px;
        margin-left: 20px;
    }

    .field {
        width: 290px;
    }

    // consultas y ajuste7 pertenecen al area de mensajes
    .ajuste7 {
        position: relative;
        left: 15px;
    }

    .btnForm {
        width: 290px;
    }

    .cards2 {
        padding: 10px 10px;
        display: flex;
        width: 100%;
    }

    // ajuste la de las card__image de la parte de servicios
    .ajuste1 {
        margin-right: 20px;
    }
}

/* tamaño MOBILE */
@media screen and (max-width: 375px) {

    // inicio

    .navbar {
        height: 185px;
    }

    .menu {
        margin-top: 173px;
    }

    .submenu {
        width: 100%;
    }

    .logoPrincipal {
        left: 113px;
    }

    .btnMenu {
        right: 305px;
        bottom: 18px;
    }

    .icoMenu {
        width: 40px;
        height: 45px;
    }

    .carritoShopp {
        top: 122px;
    }

    .buscar {
        display: none !important;
    }

    .whatsapp {
        left: 295px;
    }

    .separacion {
        font-size: 12px;
    }

    .contacto {
        font-size: 1.2rem;
    }

    // productos

    .btnProductos {
        margin-left: 40px;

    }

    // ofertas

    .btnOfertas {
        margin-left: 40px;
    }

    // contacto

    .consultas {
        margin-left: 3px;
    }

    // consultas y ajuste7 pertenecen al area de mensajes
    .ajuste7 {
        left: 7px;
    }
}