.h2Novedades{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    text-shadow: 6px 8px 5px rgb(148, 148, 148);
}

.nuevosProd{
    padding-bottom: 124px;
}