.h2Productos {
  text-align: map-get($map: $estilos, $key: centro);
  padding: map-get($map: $estilos, $key: padd1);
}

.ordenarPor {
  font-size: 15px;
  margin-bottom: 50px;
  z-index: 500;
  text-align: center;
}


.cardsProductos {
  @extend .card--general;
  margin: 1rem;
}

.btnAside {
  @extend .btn--general;
  @extend .btn--general2;
  background-color: rgb(249, 249, 250);
  border-right: ridge 2px #d66ec5;
  border-bottom: ridge 2px #d66ec5;
  color: black;
  @include flexbox (flex, row, nowrap, center);
}


.contenedorAside {
  width: 90%;
  font-size: 15px;
  text-align: center;
  padding-left: 20px;
  margin-top: 40px;
}

.h3Productos{
  padding-bottom: 20px;
}

.filtro {
  font-size: 2.5rem;
  text-align: center
}

.btnProductos {
  @extend .btn--general;
  @extend .btn--general2;
  font-size: 18px;
  margin-left: 520px;
}

.footerOfertas {
  margin-top: 100px;
}