@charset "UTF-8";
.img--redes {
  width: 4rem; }

.img--logo-principal {
  width: 15rem; }

.img--logo-final {
  width: 14rem; }

.btn--general, .btn, .btnAside, .btnProductos, .btnOfertas {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px; }

.card--general, .cards, .cardsProductos {
  width: 20rem;
  font-size: 15px;
  text-align: center;
  background-color: #f9f9fa; }

@keyframes girar {
  0% {
    transform: rotateY(0deg); }
  25% {
    transform: rotateY(100deg); }
  50% {
    transform: rotateY(200deg); }
  75% {
    transform: rotateY(300deg); }
  100% {
    transform: rotateY(360deg); } }

.logoPrincipal {
  position: relative;
  top: 5px;
  left: 50px;
  animation-name: girar;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-iteration-count: calc(1);
  animation-timing-function: linear; }

.navbar {
  background: url(../multimedia/logo2.png);
  background-position: center;
  height: 200px;
  position: relative; }

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  font-size: 15px;
  margin-top: 85px; }
  .menu li {
    list-style-type: none; }
    .menu li:hover .submenu {
      display: block; }
  .menu li a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border: solid 2px #c396d8;
    border-radius: 10px;
    font-weight: bold;
    color: black; }
    .menu li a:hover {
      color: #6b676a; }

.submenu {
  display: none;
  width: 20%;
  position: absolute;
  background-color: #ebdee9;
  border: solid 2px #c396d8;
  z-index: 1000;
  border-radius: 15px;
  padding-left: 0px; }
  .submenu li:hover {
    transform: scale(1.1);
    transition: all 1s; }
  .submenu li a {
    display: block;
    padding: 15px; }

.buscar {
  margin: 7.5rem 2rem 0rem 3rem; }

.btnBuscar {
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600; }

h1 {
  text-align: center;
  font-size: 40px;
  padding: 2rem 0rem;
  font-family: "Lobster", cursive; }

.carroContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: nowrap; }

.contenedor1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-bottom: 70px;
  flex-wrap: wrap; }

.cards {
  margin: 3rem;
  padding: 1rem 1rem 3rem 1rem; }
  .cards:hover {
    transform: scale(1.1);
    transition: all 1s; }

.card__image {
  width: 80%; }

.card__title {
  font-weight: 600;
  line-height: 1.4; }

.card__description {
  text-align: center;
  font-size: 13px;
  margin: 10px; }

.precio {
  font-size: 20px;
  font-weight: 800; }

.precio2 {
  text-decoration: line-through; }

.btn {
  font-size: 13px;
  font-weight: 600;
  width: 100%; }

.cards2 {
  width: 15rem;
  display: inline-block;
  padding: 0.5rem;
  font-size: 13px;
  text-align: center; }

/* ajustes de las imagenes de servicios index */
.ajuste1 {
  width: 8rem;
  height: 8.5rem; }

.whatsapp {
  position: fixed;
  left: 1220px;
  bottom: 20px;
  z-index: 1000; }

.iconoWtp {
  width: 100px; }

.footer {
  background-image: url(../multimedia/logo2.png);
  background-position: center;
  border: double 5px;
  padding: 20px;
  font-size: 2rem; }

.controlFooter {
  width: 30%;
  margin-left: 20px; }

.btnUnite {
  text-decoration: none;
  padding: 2px;
  border-radius: 5px;
  font-family: textos;
  font-size: 15px;
  font-weight: 600; }

.separacion {
  padding-bottom: 10px;
  padding-top: 10px; }

.redes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: none;
  position: relative;
  right: 80px;
  top: 9px; }
  .redes li {
    list-style-type: none;
    padding-right: 10px; }
  .redes img {
    padding-right: 10px; }

.listaContacto {
  list-style-type: none;
  position: relative;
  top: 10px; }

.mapa {
  position: relative;
  bottom: 1rem;
  left: 20rem; }

.logofinal {
  text-align: center; }
  .logofinal img {
    margin-top: 20px; }

.ano {
  text-align: center;
  margin-top: 20px;
  font-size: 2rem; }

.h2Productos {
  text-align: center;
  padding: 2rem; }

.ordenarPor {
  font-size: 15px;
  margin-bottom: 50px;
  z-index: 500;
  text-align: center; }

.cardsProductos {
  margin: 1rem; }

.btnAside {
  background-color: #f9f9fa;
  border-right: ridge 2px #d66ec5;
  border-bottom: ridge 2px #d66ec5;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center; }

.contenedorAside {
  width: 90%;
  font-size: 15px;
  text-align: center;
  padding-left: 20px; }

.filtro {
  font-size: 2.5rem; }

.btnProductos {
  font-size: 18px;
  margin-left: 520px; }

.footerOfertas {
  margin-top: 100px; }

.btnOfertas {
  font-size: 18px;
  margin-left: 500px; }

.sobreNosotros {
  font-size: 35px;
  -webkit-text-fill-color: #030303;
  padding: 0px 30px 80px 30px;
  text-align: justify; }

.seccionInstitucional {
  background-image: url(../multimedia/sobre_nosotros.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.tituloContac {
  text-align: center;
  margin-top: 35px;
  font-size: 50px; }

.contactanos {
  font-size: 15px;
  padding: 60px 0px 60px 20px;
  line-height: 1.6;
  margin-top: 60px; }

.listContact {
  background-color: white;
  border-radius: 10px;
  border: solid #e7f2fc; }

.contactanosAjuste {
  margin: 20px;
  font-weight: bold;
  text-align: center; }

.ico {
  padding-right: 10px; }

.seccionContact {
  margin-top: 60px; }

.consultas {
  width: 400px;
  background: #d2a7d6;
  padding: 20px;
  color: #4e4949;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  height: 460px; }

.field {
  outline: none;
  border: solid 1px #ccc;
  padding: 10px;
  border-radius: 3px;
  width: 350px;
  margin-bottom: 10px; }
  .field:focus {
    border: ridge 2px rgba(169, 101, 238, 0.452); }

.field1 {
  outline: none;
  margin: 10px; }

.ajuste7 {
  margin-top: 60px;
  margin-right: 70px; }

.btnForm {
  border-radius: 4px;
  padding: 20px 15px;
  font-weight: bold;
  margin: 10px;
  width: 320px; }
  .btnForm:hover {
    background-color: rgba(169, 136, 199, 0.808); }
  .btnForm:active {
    background-color: rgba(228, 165, 215, 0.849); }

.ajuste6 {
  margin-top: 70px; }

/* tamaño TABLET */
@media screen and (max-width: 768px) {
  /* index */
  .logoPrincipal {
    left: 350px;
    width: 100px; }
  .navbar {
    height: 250px; }
  .menu {
    margin-top: 20px; }
  .submenu {
    width: 35%; }
  .buscar {
    margin-left: 30rem;
    margin-top: 5px;
    margin-right: 200px; }
  .cards {
    margin: 0.7rem; }
  .redes {
    right: 10px; }
  .controlFooter {
    width: 40%; }
  .mapa {
    width: 200px;
    left: 5rem;
    top: 14px; }
  .logofinal img {
    width: 80px; }
  .whatsapp {
    left: 665px; }
    .whatsapp img {
      width: 80px; }
  .btnOfertas {
    margin-left: 250px; }
  .contenedorAside {
    width: 95%;
    padding: 0px 0px 0px 10px; }
  .cardsProductos {
    width: 16rem;
    margin: 1px 2px 30px 1px; }
  .btn {
    padding: 6px; }
  .btnProductos {
    margin-left: 250px; }
  /* institucional */
  .sobreNosotros {
    font-size: 30px; }
  /* contacto */
  .tituloContac {
    font-size: 35px; }
  .contactanos {
    padding: 10px 20px;
    margin-left: 145px; }
  .seccionContact {
    margin-left: 10px; }
  .consultas {
    width: 360px; }
  .field {
    width: 310px; } }

/* tamaño MOBILE */
@media screen and (max-width: 414px) {
  .logoPrincipal {
    width: 120px;
    left: 135px; }
  .navbar {
    height: 400px; }
  .menu {
    flex-flow: row wrap;
    margin-top: 0px;
    margin-bottom: 3rem; }
    .menu li {
      padding: 12px 10px; }
      .menu li a {
        padding: 6px;
        border-style: ridge; }
  .submenu {
    width: 50%; }
    .submenu li {
      padding: 2px 0px; }
      .submenu li a {
        margin: 3px 8px; }
  .buscar {
    position: absolute;
    left: 130px;
    top: 340px;
    margin: 0px; }
  .btnBuscar {
    padding: 2px 4px;
    font-size: 10px; }
  .carroContent {
    flex-flow: row wrap; }
  .cards {
    width: 16rem;
    margin: 1px 2px 30px 1px; }
  .separacion {
    font-size: 15px; }
  .ajuste5 {
    padding-bottom: 0px;
    margin-bottom: 0px; }
  .redes {
    padding-left: 10px; }
  .redes img {
    width: 33px; }
  .mapa {
    display: none; }
  .contacto {
    font-size: 1.4rem;
    position: relative;
    bottom: 15px;
    right: 20px; }
  .listaContacto {
    top: 0px; }
  .whatsapp {
    left: 330px; }
    .whatsapp img {
      width: 60px; }
  .controlFooter {
    margin-left: 10px;
    height: 20px; }
  .btnUnite {
    font-size: 8px; }
  h1 {
    font-size: 30px; }
  .h3Productos {
    padding-top: 1rem; }
  .elementosAside {
    display: none; }
  .btnProductos {
    margin-left: 60px; }
  .btnOfertas {
    margin-left: 60px; }
  .sobreNosotros {
    font-size: 22px;
    text-align: center; }
  .contactanos {
    margin-left: 0px; }
  .consultas {
    width: 340px;
    margin-left: 20px; }
  .field {
    width: 290px; }
  .ajuste7 {
    position: relative;
    left: 15px; }
  .btnForm {
    width: 290px; }
  .cards2 {
    padding: 10px 10px;
    display: flex;
    width: 100%; }
  .ajuste1 {
    margin-right: 20px; } }

/* tamaño MOBILE */
@media screen and (max-width: 375px) {
  .submenu {
    width: 55%; }
  .buscar {
    left: 110px; }
  .whatsapp {
    left: 295px; }
  .separacion {
    font-size: 12px; }
  .contacto {
    font-size: 1.2rem; }
  .btnProductos {
    margin-left: 40px; }
  .btnOfertas {
    margin-left: 40px; }
  .consultas {
    margin-left: 3px; }
  .ajuste7 {
    left: 7px; } }

* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: textos;
  src: url(../plantillas/JTMarnie-Light.ttf); }

html {
  font-size: 62.5%; }

body {
  font-family: textos; }

.fondo {
  background-image: url("../multimedia/fondo.jpg");
  background-position: center;
  background-size: cover; }

.colorButton {
  background-color: #9d77c0;
  border: outset #d37ed4;
  color: white; }

.font2 {
  font-family: "Lobster", cursive; }
