@charset "UTF-8";
.img--redes {
  width: 4rem; }

.img--logo-principal {
  width: 20rem; }

.img--logo-final {
  width: 18rem; }

.btn--general, .btn, .btnAside, .btnProductos, .btnOfertas {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px; }

.btn--general2:hover, .btnBuscar:hover, .btn:hover, .btnUnite:hover, .btnAside:hover, .btnProductos:hover {
  background-color: #d875b2;
  color: white;
  border: outset  #a10e89; }

.btn--general2:active, .btnBuscar:active, .btn:active, .btnUnite:active, .btnAside:active, .btnProductos:active {
  background-color: #34a4b8; }

.card--general, .cards, .cardsProductos, .cardsOfertas {
  width: 20rem;
  font-size: 15px;
  text-align: center;
  background-color: #f9f9fa; }

.logoPrincipal {
  position: relative;
  bottom: 26px;
  left: 20px; }

.nav {
  background-image: url(../multimedia/logo2.png);
  background-color: black;
  height: 210px;
  position: relative;
  background-repeat: no-repeat;
  background-position-x: right; }

.menu {
  font-size: 14px;
  margin-top: 85px;
  margin-left: 81px; }
  .menu li a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border: solid 2px #c396d8;
    border-radius: 10px;
    font-weight: bold; }
    .menu li a:hover {
      color: #f15bcc;
      background-color: black; }

.navbar-dark .navbar-nav .nav-link {
  color: white; }
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #f15bcc; }

.submenu {
  background-color: black;
  border: solid 2px #c396d8;
  z-index: 1000;
  border-radius: 15px;
  padding-right: 20px;
  font-size: 13px; }
  .submenu li a {
    display: block;
    padding: 15px;
    color: white;
    text-align: center; }

.buscar {
  margin: 8.5rem 6rem 0rem 0rem;
  width: 260px; }

.carrito {
  font-size: 22px; }

.carritoShopp {
  position: absolute;
  right: 22px;
  top: 128px; }

.btnBuscar {
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600; }

h1 {
  text-align: center;
  font-size: 40px;
  padding: 4rem 0rem 2rem 0rem;
  font-family: "Lobster", cursive;
  margin-bottom: 35px;
  text-decoration: underline; }

.btnCarusel {
  background-color: darkviolet; }

.carroContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  background: radial-gradient(pink, transparent);
  border-radius: 10px;
  border: ridge 2px violet;
  flex-wrap: nowrap; }

.contenedor1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-bottom: 70px;
  flex-wrap: wrap; }

.cards {
  margin: 3rem;
  padding: 1rem 1rem 3rem 1rem; }
  .cards:hover {
    transform: scale(1.1);
    transition: all 1s; }

.card__image {
  width: 80%; }

.card__title {
  font-weight: 600;
  line-height: 1.4; }

.card__description {
  text-align: center;
  font-size: 13px;
  margin: 10px; }

.precio {
  font-size: 20px;
  font-weight: 800; }

.precio2 {
  text-decoration: line-through; }

.btn {
  font-size: 13px;
  font-weight: 600;
  width: 100%; }

.cards2 {
  width: 15rem;
  display: inline-block;
  padding: 0.5rem;
  font-size: 13px;
  text-align: center; }

.serviciosIndex {
  border-bottom: ridge 3px #b1b0b0;
  box-shadow: 6px 10px 10px #a7a6a6; }

/* ajustes de las imagenes de servicios index */
.ajuste1 {
  width: 8rem;
  height: 8.5rem; }

.container2 {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 55px 0px 75px 0px; }

.h5map {
  text-decoration: underline;
  margin-bottom: 35px;
  font-weight: bolder; }

.mapaMenu {
  font-size: 16px; }
  .mapaMenu ul {
    padding-left: 0px; }
    .mapaMenu ul li {
      list-style-type: none; }
      .mapaMenu ul li a {
        text-decoration: none;
        color: black; }
        .mapaMenu ul li a:hover {
          color: #f15bcc; }

.imgPago {
  width: 368px; }

.iconoWtp {
  width: 80px;
  position: fixed;
  z-index: 1000;
  bottom: 0px;
  right: 0px;
  margin: 30px; }

.footer {
  background-color: black;
  border: double 5px;
  padding: 20px;
  font-size: 2rem;
  color: white; }

.controlFooter {
  width: 30%;
  margin-left: 20px; }

.btnUnite {
  text-decoration: none;
  padding: 2px;
  border-radius: 5px;
  font-family: textos;
  font-size: 15px;
  font-weight: 600; }

.separacion {
  padding-bottom: 10px;
  padding-top: 10px; }

.redes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: none;
  position: relative;
  right: 80px;
  top: 9px; }
  .redes li {
    list-style-type: none;
    padding-right: 10px; }
  .redes img {
    padding-right: 10px; }
    .redes img:hover {
      filter: grayscale(100%); }

.listaContacto {
  list-style-type: none;
  position: relative;
  top: 10px; }

.mapa {
  position: relative;
  bottom: 1rem;
  left: 20rem;
  width: 300px;
  height: 200px; }

.logofinal {
  text-align: center; }
  .logofinal img {
    margin-top: 20px; }

.ano {
  text-align: center;
  margin-top: 20px;
  font-size: 2rem; }

.h2Productos {
  text-align: center;
  padding: 2rem; }

.ordenarPor {
  font-size: 15px;
  margin-bottom: 50px;
  z-index: 500;
  text-align: center; }

.cardsProductos {
  margin: 1rem; }

.btnAside {
  background-color: #f9f9fa;
  border-right: ridge 2px #d66ec5;
  border-bottom: ridge 2px #d66ec5;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center; }

.contenedorAside {
  width: 90%;
  font-size: 15px;
  text-align: center;
  padding-left: 20px;
  margin-top: 40px; }

.h3Productos {
  padding-bottom: 20px; }

.filtro {
  font-size: 2.5rem;
  text-align: center; }

.btnProductos {
  font-size: 18px;
  margin-left: 520px; }

.footerOfertas {
  margin-top: 100px; }

.btnOfertas {
  font-size: 18px;
  margin-left: 500px; }

.cardsOfertas {
  margin: 2rem 2rem;
  border-radius: 15px;
  border: ridge 2px violet; }

.imgOfertas {
  margin-top: 10px; }

.precio3 {
  font-size: 15px; }

.h2Novedades {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 50px;
  text-shadow: 6px 8px 5px #949494; }

.nuevosProd {
  padding-bottom: 124px; }

.sobreNosotros {
  font-size: 35px;
  -webkit-text-fill-color: #030303;
  padding: 40px 30px 80px 30px;
  text-align: justify; }

.parrafo0 {
  text-decoration: underline; }

.parrafo1 {
  padding-top: 50px; }

.seccionInstitucional {
  background-image: url(../multimedia/sobre_nosotros.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.logoInstitucional {
  width: 610px;
  position: relative;
  right: 10px; }

.tituloContac {
  text-align: center;
  margin-top: 35px;
  font-size: 50px;
  text-decoration: underline; }

.contactanos {
  font-size: 15px;
  padding: 60px 0px 60px 20px;
  line-height: 1.6;
  margin-top: 60px; }

.listContact {
  background-color: white;
  border-radius: 10px;
  border: solid #7fdbff; }

.contactanosAjuste {
  margin: 20px;
  font-weight: bold;
  text-align: center; }

.ico {
  padding-right: 10px; }

.seccionContact {
  margin-top: 60px; }

.consultas {
  width: 400px;
  background: #d2a7d6;
  padding: 20px;
  color: #4e4949;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  height: 460px; }

.field {
  outline: none;
  border: solid 1px #ccc;
  padding: 10px;
  border-radius: 3px;
  width: 350px;
  margin-bottom: 10px; }
  .field:focus {
    border: ridge 2px rgba(169, 101, 238, 0.452); }

.field1 {
  outline: none;
  margin: 10px; }

.ajuste7 {
  margin-top: 60px;
  margin-right: 70px; }

.btnForm {
  border-radius: 4px;
  padding: 20px 15px;
  font-weight: bold;
  margin: 10px;
  width: 320px; }
  .btnForm:hover {
    background-color: rgba(169, 136, 199, 0.808); }
  .btnForm:active {
    background-color: rgba(228, 165, 215, 0.849); }

.h1Contacto {
  margin: 90px 0px 50px 0px;
  text-decoration: underline; }

.h1Contacto2 {
  margin-bottom: 0px; }

.imgContact {
  width: 100%; }

.ajuste6 {
  margin-top: 70px; }

/* tamaño TABLET */
@media screen and (max-width: 768px) {
  /* index */
  .logoPrincipal {
    left: 270px;
    position: absolute;
    bottom: 84px; }
  .navbar {
    height: 280px;
    background-image: none; }
  .menu {
    margin-top: 268px;
    margin-left: 0px;
    width: 50%;
    text-align: center;
    background-color: black;
    border-radius: 15px;
    border: solid 2px #c396d8; }
  .submenu {
    background-color: #3f3f3f; }
  .buscar {
    margin-left: 23rem;
    position: absolute;
    bottom: 26px; }
  .btnMenu {
    position: absolute;
    right: 670px;
    bottom: 13px; }
  .icoMenu {
    width: 40px;
    height: 45px; }
  .carritoShopp {
    top: 218px;
    position: absolute; }
  .cards {
    margin: 0.7rem; }
  .mapaMenu ul {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px; }
  .imgPago {
    width: 313px; }
  .redes {
    right: 10px; }
  .controlFooter {
    width: 40%; }
  .mapa {
    width: 440px;
    left: 13rem;
    margin-top: 66px; }
  .whatsapp img {
    width: 80px;
    margin: 15px; }
  .btnOfertas {
    margin-left: 250px; }
  .contenedorAside {
    width: 95%;
    padding: 0px 0px 0px 10px; }
  .cardsProductos {
    width: 16rem;
    margin: 1px 2px 30px 1px; }
  .btn {
    padding: 6px; }
  .btnProductos {
    margin-left: 250px; }
  /* institucional */
  .sobreNosotros {
    font-size: 30px; }
  .logoInstitucional {
    left: 40px; }
  .h2Novedades {
    font-size: 26px; }
  /* contacto */
  .tituloContac {
    font-size: 35px; }
  .contactanos {
    padding: 10px 20px;
    margin-left: 145px;
    margin-top: 30px; }
  .seccionContact {
    margin-left: 10px; }
  .consultas {
    width: 360px; }
  .field {
    width: 310px; } }

/* tamaño MOBILE */
@media screen and (max-width: 414px) {
  .logoPrincipal {
    left: 126px;
    top: 0px;
    width: 153px; }
  .navbar {
    height: 275px; }
  .menu {
    margin-top: 263px;
    width: 280px; }
    .menu li {
      padding: 0px; }
      .menu li a {
        padding: 6px; }
  .submenu {
    width: 100%; }
    .submenu li {
      padding: 2px 0px; }
      .submenu li a {
        margin: 3px 8px; }
  .btnMenu {
    bottom: 10px;
    right: 349px; }
  .icoMenu {
    width: 36px;
    height: 34px; }
  .carritoShopp {
    top: 223px; }
  .buscar {
    left: 33px;
    width: 339px;
    bottom: 76px;
    margin: 0px; }
  .btnBuscar {
    font-size: 10px; }
  .carroContent {
    flex-flow: row wrap; }
  .cards {
    width: 16rem;
    margin: 1px 2px 30px 1px; }
  .h5map {
    margin-top: 56px; }
  .mapaMenu ul {
    flex-wrap: wrap; }
    .mapaMenu ul li {
      padding-right: 31px;
      padding-top: 15px; }
  .separacion {
    font-size: 15px; }
  .ajuste5 {
    padding-bottom: 0px;
    margin-bottom: 0px; }
  .redes {
    padding-left: 10px; }
  .redes img {
    width: 33px; }
  .mapa {
    display: none; }
  .contacto {
    font-size: 1.4rem;
    position: relative;
    bottom: 15px;
    right: 20px; }
  .listaContacto {
    top: 0px; }
  .whatsapp img {
    width: 60px; }
  .controlFooter {
    margin-left: 10px;
    height: 20px; }
  .btnUnite {
    font-size: 8px; }
  h1 {
    font-size: 30px; }
  .h3Productos {
    padding-top: 1rem; }
  .elementosAside {
    display: none; }
  .btnProductos {
    margin-left: 60px; }
  .btnOfertas {
    margin-left: 60px; }
  .cardsOfertas {
    margin: 2rem 0rem;
    width: 16rem; }
  .h2Novedades {
    font-size: 18px; }
  .sobreNosotros {
    font-size: 22px;
    text-align: center; }
  .logoInstitucional {
    left: 0px;
    width: 300px; }
  .contactanos {
    margin-left: 0px; }
  .consultas {
    width: 340px;
    margin-left: 20px; }
  .field {
    width: 290px; }
  .ajuste7 {
    position: relative;
    left: 15px; }
  .btnForm {
    width: 290px; }
  .cards2 {
    padding: 10px 10px;
    display: flex;
    width: 100%; }
  .ajuste1 {
    margin-right: 20px; } }

/* tamaño MOBILE */
@media screen and (max-width: 375px) {
  .navbar {
    height: 185px; }
  .menu {
    margin-top: 173px; }
  .submenu {
    width: 100%; }
  .logoPrincipal {
    left: 113px; }
  .btnMenu {
    right: 305px;
    bottom: 18px; }
  .icoMenu {
    width: 40px;
    height: 45px; }
  .carritoShopp {
    top: 122px; }
  .buscar {
    display: none !important; }
  .whatsapp {
    left: 295px; }
  .separacion {
    font-size: 12px; }
  .contacto {
    font-size: 1.2rem; }
  .btnProductos {
    margin-left: 40px; }
  .btnOfertas {
    margin-left: 40px; }
  .consultas {
    margin-left: 3px; }
  .ajuste7 {
    left: 7px; } }

* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: textos;
  src: url(../plantillas/JTMarnie-Light.ttf); }

html {
  font-size: 62.5%; }

body {
  font-family: textos; }

.fondo {
  background-image: url("../multimedia/fondo.jpg");
  background-position: center;
  background-size: cover; }

.colorButton {
  background-color: #9d77c0;
  border: outset #d37ed4;
  color: white; }

.font2 {
  font-family: "Lobster", cursive; }
